body {
  background-color: #ffaec8;
  font-family: sans-serif;
  max-width: 60%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: large;
  font-family: "DotGothic16", sans-serif;
  font-size: 100px;
}

h2 {
  font-size: 20px;
  display: inline;
}

h3 {
  font-size: 20px;
  font-family: "DotGothic16", sans-serif;
  display: block;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  background-color: #ffaec8;
  display: block;
  font-size: 20px;
}

.col {
  width: 20%;
  margin-top: 30px;
  max-width: 90%;
}

.form-control {
  display: block;
  margin-left: 152px;
  margin-bottom: 18px;
  background-color: #ffdad7;
  border: black;
}

.search-city-input {
  display: block;
  margin-left: 152px;
  margin-bottom: 18px;
  background-color: #ffdad7;
  border: black;
}

.made {
  font-size: 12px;
  font-family: "DotGothic16", sans-serif;
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.4;
  font-size: 15px;
}

.weather-forecast-temperature-max {
  font-weight: bold;
  font-size: 15px;
}
